infra/n8n-workflows/sub_workflow_instagram.json
{
  "name": "Sub-Workflow: Instagram Polling",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        120,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://post2cart-backend:3100/n8n/automation/executions/event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_INTERNAL_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "workflow_name",
              "value": "sub_workflow_instagram"
            },
            {
              "name": "external_execution_id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "status",
              "value": "started"
            },
            {
              "name": "meta",
              "value": "={{ { mode: $json.retry_context ? 'retry' : 'poll' } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "execution-started",
      "name": "POST /automation/executions/event (started)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        340,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$('Execute Workflow Trigger').item.json.retry_context }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-retry-mode",
      "name": "IF Retry Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        580,
        380
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/{{ $env.META_GRAPH_API_VERSION || 'v20.0' }}/{{ $('Execute Workflow Trigger').item.json.platform_account_id }}/media?fields=id,caption,media_type,media_url,thumbnail_url,timestamp,permalink&access_token={{ $('Execute Workflow Trigger').item.json.decrypted_access_token }}",
        "options": {}
      },
      "id": "poll-instagram-posts",
      "name": "Poll Instagram Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        540
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "operation": "splitOutItems",
        "fieldToSplitOut": "data"
      },
      "id": "split-data-to-items",
      "name": "Split data[] to items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        1060,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "id",
              "value": "={{ $('Execute Workflow Trigger').item.json.retry_context?.platform_post_id || $('Execute Workflow Trigger').item.json.retry_context?.content?.id || '' }}",
              "type": "string"
            },
            {
              "name": "caption",
              "value": "={{ $('Execute Workflow Trigger').item.json.retry_context?.content?.caption || '' }}",
              "type": "string"
            },
            {
              "name": "media_type",
              "value": "={{ $('Execute Workflow Trigger').item.json.retry_context?.media_type || $('Execute Workflow Trigger').item.json.retry_context?.content?.media_type || '' }}",
              "type": "string"
            },
            {
              "name": "media_url",
              "value": "={{ $('Execute Workflow Trigger').item.json.retry_context?.content?.media_url || '' }}",
              "type": "string"
            },
            {
              "name": "thumbnail_url",
              "value": "={{ $('Execute Workflow Trigger').item.json.retry_context?.content?.thumbnail_url || '' }}",
              "type": "string"
            },
            {
              "name": "timestamp",
              "value": "={{ $('Execute Workflow Trigger').item.json.retry_context?.content?.timestamp || '' }}",
              "type": "string"
            },
            {
              "name": "permalink",
              "value": "={{ $('Execute Workflow Trigger').item.json.retry_context?.content?.permalink || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-retry-item",
      "name": "Build Retry Item",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://post2cart-backend:3100/api/v1/webhooks/social-posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_INTERNAL_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.tenant_id }}"
            },
            {
              "name": "social_account_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.social_account_id }}"
            },
            {
              "name": "platform",
              "value": "instagram"
            },
            {
              "name": "platform_post_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "content",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-post-to-backend",
      "name": "POST /webhooks/social-posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content.media_type || $json.media_type }}",
              "operation": "equal",
              "value2": "VIDEO"
            }
          ]
        }
      },
      "id": "if-video",
      "name": "IF media_type == VIDEO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://post2cart-backend:3100/api/v1/media/process-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_INTERNAL_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.tenant_id }}"
            },
            {
              "name": "platform_post_id",
              "value": "={{ $json.platform_post_id }}"
            },
            {
              "name": "media_url",
              "value": "={{ $json.content.media_url }}"
            },
            {
              "name": "n8n_callback_url",
              "value": "={{ $execution.resumeUrl.replace('https://n8n.turnam.shop', 'http://n8n:5678') }}"
            },
            {
              "name": "payload",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-video",
      "name": "POST /media/process-video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1780,
        220
      ]
    },
    {
      "parameters": {
        "resume": "webhook"
      },
      "id": "wait-for-callback",
      "name": "Wait for callback",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "source_post_id",
              "value": "={{ $('POST /webhooks/social-posts').item.json.id }}",
              "type": "string"
            },
            {
              "name": "media_urls",
              "value": "={{ $json.frameUrls || [] }}",
              "type": "array"
            },
            {
              "name": "video_url",
              "value": "={{ $json.videoUrl || '' }}",
              "type": "string"
            },
            {
              "name": "platform_post_id",
              "value": "={{ $('POST /webhooks/social-posts').item.json.platform_post_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-video-output",
      "name": "Normalize video callback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "source_post_id",
              "value": "={{ $('POST /webhooks/social-posts').item.json.id }}",
              "type": "string"
            },
            {
              "name": "media_urls",
              "value": "={{ [ $json.content.media_url ] }}",
              "type": "array"
            },
            {
              "name": "platform_post_id",
              "value": "={{ $('POST /webhooks/social-posts').item.json.platform_post_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-image-output",
      "name": "Normalize image media",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1780,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"input\": [{\n    \"role\": \"user\",\n    \"content\": [{\n      \"type\": \"input_text\",\n      \"text\": \"Analyze this social post and return a product draft JSON.\"\n    }, {\n      \"type\": \"input_text\",\n      \"text\": \"Post payload: {{$json}}\"\n    }]\n  }],\n  \"text\": {\n    \"format\": {\n      \"type\": \"json_schema\",\n      \"name\": \"post2cart_product_draft\",\n      \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": { \"type\": \"string\" },\n          \"price\": { \"type\": \"number\" },\n          \"ai_metadata\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"summary\": { \"type\": \"string\" },\n              \"confidence\": { \"type\": \"number\" }\n            },\n            \"required\": [\"summary\", \"confidence\"],\n            \"additionalProperties\": false\n          }\n        },\n        \"required\": [\"title\", \"price\", \"ai_metadata\"],\n        \"additionalProperties\": false\n      },\n      \"strict\": true\n    }\n  }\n}",
        "options": {}
      },
      "id": "openai-analyze",
      "name": "OpenAI Analyze (gpt-4o)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2740,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "title",
              "value": "={{ JSON.parse($json.output[0].content[0].text || '{}').title || '' }}",
              "type": "string"
            },
            {
              "name": "price",
              "value": "={{ Number(JSON.parse($json.output[0].content[0].text || '{}').price || 0) }}",
              "type": "number"
            },
            {
              "name": "ai_metadata",
              "value": "={{ JSON.parse($json.output[0].content[0].text || '{}').ai_metadata || {} }}",
              "type": "object"
            },
            {
              "name": "source_post_id",
              "value": "={{ (() => { try { return $('Normalize image media').first().json.source_post_id || ''; } catch (e) {} try { return $('Normalize video callback').first().json.source_post_id || ''; } catch (e) {} return ''; })() }}",
              "type": "string"
            },
            {
              "name": "media_urls",
              "value": "={{ (() => { try { return $('Normalize image media').first().json.media_urls || []; } catch (e) {} try { return $('Normalize video callback').first().json.media_urls || []; } catch (e) {} return []; })() }}",
              "type": "array"
            },
            {
              "name": "platform_post_id",
              "value": "={{ (() => { try { return $('Normalize image media').first().json.platform_post_id || ''; } catch (e) {} try { return $('Normalize video callback').first().json.platform_post_id || ''; } catch (e) {} return ''; })() }}",
              "type": "string"
            },
            {
              "name": "next_cursor",
              "value": "={{ (() => { try { return $('Poll Instagram Posts').first().json.paging?.cursors?.after || ''; } catch (e) {} return ''; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "parse-ai-json",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2980,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://post2cart-backend:3100/api/v1/products/draft",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_INTERNAL_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.tenant_id }}"
            },
            {
              "name": "source_post_id",
              "value": "={{ $json.source_post_id }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "price",
              "value": "={{ $json.price }}"
            },
            {
              "name": "ai_metadata",
              "value": "={{ $json.ai_metadata }}"
            },
            {
              "name": "media_urls",
              "value": "={{ $json.media_urls }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-draft-product",
      "name": "POST /products/draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3220,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://post2cart-backend:3100/n8n/sync-state/update-cursor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_INTERNAL_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sync_state_id",
              "value": "={{ $('Execute Workflow Trigger').first().json.sync_state_id }}"
            },
            {
              "name": "last_cursor_id",
              "value": "={{ $('Parse AI JSON').first().json.next_cursor || $('Parse AI JSON').first().json.platform_post_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-cursor",
      "name": "POST /sync-state/update-cursor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3460,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://post2cart-backend:3100/n8n/automation/executions/event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_INTERNAL_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.tenant_id }}"
            },
            {
              "name": "workflow_name",
              "value": "sub_workflow_instagram"
            },
            {
              "name": "external_execution_id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "meta",
              "value": "={{ { last_cursor_id: $('Parse AI JSON').first().json.next_cursor || $('Parse AI JSON').first().json.platform_post_id || null } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "execution-success",
      "name": "POST /automation/executions/event (success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3700,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://post2cart-backend:3100/api/v1/webhooks/failed-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_INTERNAL_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.tenant_id }}"
            },
            {
              "name": "workflow_name",
              "value": "sub_workflow_instagram"
            },
            {
              "name": "node_name",
              "value": "={{ $json.node?.name || 'unknown' }}"
            },
            {
              "name": "error_reason",
              "value": "={{ $json.error?.message || 'workflow_failed' }}"
            },
            {
              "name": "payload",
              "value": "={{ { original: $json, retry_context: { tenant_id: $('Execute Workflow Trigger').item.json.tenant_id, social_account_id: $('Execute Workflow Trigger').item.json.social_account_id || null, sync_state_id: $('Execute Workflow Trigger').item.json.sync_state_id || null, platform_account_id: $('Execute Workflow Trigger').item.json.platform_account_id || null, decrypted_access_token: $('Execute Workflow Trigger').item.json.decrypted_access_token || null, platform_post_id: $json.platform_post_id || $json.id || $json.content?.id || $('Execute Workflow Trigger').item.json.retry_context?.platform_post_id || '', content: $json.content || $('Execute Workflow Trigger').item.json.retry_context?.content || $json, media_type: $json.content?.media_type || $json.media_type || $('Execute Workflow Trigger').item.json.retry_context?.media_type || null, source_node: $json.node?.name || 'unknown' } } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-failed-item",
      "name": "POST /webhooks/failed-items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2260,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://post2cart-backend:3100/n8n/automation/executions/event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_INTERNAL_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.tenant_id }}"
            },
            {
              "name": "workflow_name",
              "value": "sub_workflow_instagram"
            },
            {
              "name": "external_execution_id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "status",
              "value": "failed"
            },
            {
              "name": "node_name",
              "value": "={{ $json.node_name || $json.node?.name || 'unknown' }}"
            },
            {
              "name": "error_reason",
              "value": "={{ $json.error_reason || $json.error?.message || 'workflow_failed' }}"
            },
            {
              "name": "meta",
              "value": "={{ { failed_item_id: $json.id || null } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "execution-failed",
      "name": "POST /automation/executions/event (failed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2500,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "inserted"
            }
          ]
        }
      },
      "id": "if-social-post-inserted",
      "name": "IF social post inserted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1480,
        380
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "POST /automation/executions/event (started)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /automation/executions/event (started)": {
      "main": [
        [
          {
            "node": "IF Retry Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Retry Mode": {
      "main": [
        [
          {
            "node": "Poll Instagram Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Retry Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retry Item": {
      "main": [
        [
          {
            "node": "POST /webhooks/social-posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Instagram Posts": {
      "main": [
        [
          {
            "node": "Split data[] to items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split data[] to items": {
      "main": [
        [
          {
            "node": "POST /webhooks/social-posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /webhooks/social-posts": {
      "main": [
        [
          {
            "node": "IF social post inserted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF media_type == VIDEO": {
      "main": [
        [
          {
            "node": "Normalize image media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /media/process-video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /media/process-video": {
      "main": [
        [
          {
            "node": "Wait for callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for callback": {
      "main": [
        [
          {
            "node": "Normalize video callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /webhooks/failed-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize video callback": {
      "main": [
        [
          {
            "node": "OpenAI Analyze (gpt-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize image media": {
      "main": [
        [
          {
            "node": "OpenAI Analyze (gpt-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analyze (gpt-4o)": {
      "main": [
        [
          {
            "node": "Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /webhooks/failed-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON": {
      "main": [
        [
          {
            "node": "POST /products/draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /products/draft": {
      "main": [
        [
          {
            "node": "POST /sync-state/update-cursor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /webhooks/failed-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /sync-state/update-cursor": {
      "main": [
        [
          {
            "node": "POST /automation/executions/event (success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /webhooks/failed-items": {
      "main": [
        [
          {
            "node": "POST /automation/executions/event (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF social post inserted": {
      "main": [
        [],
        [
          {
            "node": "IF media_type == VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
